body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

img{
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button{
    width: 100%;
    height: 40px;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    
}

.container{
    display: flex;
    height: 375px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.title{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
}

.subtitle{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(212, 21%, 14%);
}

.content{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.textarea{
    padding: 10px 25px;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discount-price{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.normal-price{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.cart{
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
}